# This file should look like the example config file on github:
#    https://github.com/distributed-system-analysis/pbench/blob/master/agent/config/pbench-agent.cfg.example
# The only differences should be the values of pbench_results_redirector
# and pbench_web_server which are environment-specific.
[DEFAULT]
pbench_install_dir = /opt/pbench-agent
pbench_results_redirector = pbench.perf.lab.eng.bos.redhat.com
pbench_web_server = pbench.perf.lab.eng.bos.redhat.com

[config]
path = %(pbench_install_dir)s/config
files = pbench-agent-default.cfg
